<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Carrito de Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo" >
    <ion-card>
      <ion-item class="titulo-label">
        <ion-label>
          PRODUCTO
        </ion-label>
        <ion-label>
          PRECIO
        </ion-label>
        <ion-label>
          CANTIDAD
        </ion-label>
        <ion-label class="precio">
          SUBTOTAL
        </ion-label>
      </ion-item>
      <ion-list *ngIf="carrito && carrito.items.length > 0; else noItems">
        <ion-item *ngFor="let item of carrito.items">
          <ion-label>
            {{ item.nombre }}
          </ion-label>
          <ion-label>
            ${{ item.precio }} CLP
          </ion-label>
          <div class="aumentar-disminuir">
            <ion-button  (click)="bajarItem(item.producto_id)">-</ion-button>
            <p> {{item.cantidad}}  </p>
            <ion-button (click)="agregarItem(item.producto_id)">+</ion-button>
          </div>
          <ion-label class="precio">
            ${{ precioUnitario(item.precio, item.cantidad) }} CLP
          </ion-label>
          <div class="margin"></div>
          <ion-button color="danger" (click)="removeItem(item.producto_id)">
            <ion-icon slot="icon-only"name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-button color="warning" [routerLink]="['/catalogo-producto']"> Seguir comprando</ion-button>
        <ion-label class="total">Total: ${{ total }}</ion-label>
        <div>
          <ion-button color="success" expand="full" (click)="toggleClienteForm()">
            {{ showClienteForm ? 'Cancelar' : 'Continuar' }}
          </ion-button>
        </div>
      </ion-item>
    </ion-card>
    <div *ngIf="showClienteForm">
      <ion-card class="tarjeta" >
        <ion-card-header>
          <ion-card-title class="titulo">Datos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <form  (ngSubmit)="checkout()">
            <ion-input class="formulario" [(ngModel)]="customer.rut" name="rut" required placeholder="RUT"></ion-input>
            <br>
            <ion-input class="formulario" [(ngModel)]="customer.dv" name="dv" required placeholder="DV"></ion-input>
            <br>
            <ion-input class="formulario" [(ngModel)]="customer.correo_electronico" name="email" type="email" required
              placeholder="CORREO"></ion-input>
            <br>
            <ion-input class="formulario" [(ngModel)]="customer.nombre" name="nombre" required placeholder="NOMBRE"></ion-input>
            <br>
            <ion-input class="formulario" [(ngModel)]="customer.direccion" name="direccion" required placeholder="DIRECCIÓN"></ion-input>
            <!-- Nuevo botón "Ir a pagar" para Transbank -->
            <div class="button-center">
              <ion-button class="submit" (click)="irAPagar()">Pagar</ion-button>
            </div>
          </form>
        </ion-card-content>
      </ion-card>
    </div>
  </div>



  <!-- Mostrar el mensaje de éxito o error aquí -->
  <!-- <ion-item *ngIf="mensaje">
    <ion-label color="primary">{{ mensaje }}</ion-label>
  </ion-item> -->
</ion-content>

<ng-template #noItems>
  <ion-item>
    <ion-label>El carrito está vacío</ion-label>
  </ion-item>
</ng-template>
