<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/proveedor']">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Catalogo_Producto</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/carrito']">
        <ion-icon name="cart"></ion-icon>
        <ion-badge color="danger" *ngIf="cartItemCount > 0">{{ cartItemCount }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col size="4" *ngFor="let producto of productosFiltrados">
        <ion-card style="background-image:url(../../../assets/images/enredadera.png)">

          <ion-card-header style="display: flex; justify-content: space-between; align-items: center;">
            <div class="arriba">
              <p class="titulo">{{ producto.nombre_producto }}</p>
            </div>
            <ion-card-content>
              <div class="margen">
                <!-- <ion-button (click)=" catalogo_producto()" >Ver productos </ion-button> -->
                <!-- <button (click)=>Agregar al carrito</button> -->
              </div>
              <div class="imagen-container" style="margin-bottom: 10px;">
                <img src="../../../assets/images/productont.png"
                  style="width: 200px; height: 200px; border-color: black; border-radius: 10px;" />
              </div>
              <div class="margen">
                <ion-button (click)="agregarAlCarrito(producto.codigo_producto)">Agregar al carrito</ion-button>
              </div>
              <div class="margen">
                <ion-button>MÃs info</ion-button>
              </div>
              <div class="margen">
                <ion-button
                  style="--padding-start: 0; --padding-end: 0; --border-radius: 50%; width: 40px; height: 40px;">
                  <img src="../../../assets/images/JARDENBOT.png" style="width: 40px; height: 40px;" />
                </ion-button>
              </div>
            </ion-card-content>
            <div class="precioAbajo">
              Precio: {{ producto.precio }}
              <!-- <ion-img class="proveedor-imagen" [src]="proveedor.imagen_proveedor"></ion-img> -->
            </div>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <div class="marggen"></div>
  </ion-grid>
  <!-- <ion-infinite-scroll threshold="1500px" (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="toggleSearchBar()" style="background-color: yellow; border-radius: 50%;">
        <ion-icon name="search-outline" style="color: black;"></ion-icon>
      </ion-button>
      <ion-searchbar *ngIf="showSearchBar" placeholder="Buscar..." (ionInput)="onSearch($event)"
        style="margin: 10px;"></ion-searchbar>
    </ion-buttons>
    <div class="center-button">
      <ion-button style="--padding-start: 0; --padding-end: 0; --border-radius: 50%; width: 40px; height: 40px;">
        <img src="../../../assets/images/JARDENBOT.png" style="width: 40px; height: 40px;" />
      </ion-button>
    </div>
    <ion-buttons slot="end">
      <ion-button style="background-color: yellow; border-radius: 50%;">
        <ion-icon name="person-outline" style="color: black;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
