<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/proveedor']">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-content class="container">
    <ion-buttons slot="">
      <ion-button expand="full" (click)="toggleLoginForm()">
        {{ showLoginForm ? 'Cancelar' : 'Ya tienes una cuenta inicia sesión' }}
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-button expand="full" (click)="toggleCrudForm()">
        {{ showCrudForm ? 'Cancelar' : 'Registrate' }}
      </ion-button>
    </ion-buttons>
  </ion-card-content>
</ion-card>

<ion-content>
  <!-- Formulario de inicio de sesión -->
  <div *ngIf="showLoginForm">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Formulario de Ingreso</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form (ngSubmit)="login()">
          <ion-item>
            <ion-label position="stacked">Nombre de Usuario o Correo</ion-label>
            <ion-input type="text" [(ngModel)]="username" name="username" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
          </ion-item>
          <ion-button expand="full" type="submit">Iniciar Sesión</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
  <!-- Formulario de Registro de Proveedor -->
  <div *ngIf="showCrudForm">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Registrar Proveedor</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form (ngSubmit)="onRegister()">
          <ion-item>
            <ion-label position="stacked">RUT</ion-label>
            <ion-input type="text" [(ngModel)]="item.rut" name="rut" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Dígito Verificador</ion-label>
            <ion-input type="text" [(ngModel)]="item.dv" name="dv" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Correo Electrónico</ion-label>
            <ion-input type="email" [(ngModel)]="item.correo_electronico" name="correo" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="item.contrasena" name="contrasena" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input type="text" [(ngModel)]="item.nom_user" name="nombre" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Apellido</ion-label>
            <ion-input type="text" [(ngModel)]="item.ap_user" name="apellido" required></ion-input>
          </ion-item>
          <ion-button expand="full" type="submit">Registrar Proveedor</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
