.container{
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

//es la parte del fotmulario
.ajustar{
text-align: center;
display: flex;
justify-content: center; /* Centra horizontalmente */
align-items: center;
}
.centrar {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  // height: 100vh; /* O el tamaño del contenedor */
}
.titular {
  background-color: rgb(160, 214, 131);
  color: black;
  width: 320px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 40px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
.fondo{
  width: 100%;
  min-height: 100vh;
  background:whitesmoke;
  // background: linear-radient(744deg,#8bfd9b,#52df65 60%,#9bc2a0);
}

.colormenus{
  // background: rgb(160, 214, 131);
  background: rgb(114, 191, 120);
  color: black;

}

.titulo{
  font-weight: bold;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 50px;
  color: black;
  // border: 10px;
  // border-color: palevioletred;
  position: relative;
  text-align: start;
  display: flex;
  justify-content: start; /* Centra horizontalmente */
  align-items: start; /* Centra verticalmente */
  // font-weight: 900; /* Valores comunes: 400 (normal), 700 (negrita) */
  // font-family: 'Courier New', Courier, monospace;
}

// -----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------
// SACADO DEL CSS DEL LOGIN Y REGISTRO
